@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}


main {
    width: 100%;
    min-height: 100vh;
    background: rgb(221, 229, 231);
    padding: 10px 0px;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-card {
    margin: 0 auto;
    max-width: 400px;
    min-height: 100vh;
    padding: 0 5px;
}

.profile {
    width: 100%;
    min-height: 300px;
}

.bg-img {
    background-image: url('https://cdn0030.qrcodechimp.com/qr/PROD/6464cf7c6a734a24226f7a53/fm/whatsapp_image_2024-02-11_at_095701_9ef74e7c_m.jpg');
    filter: drop-shadow(2px, 2px, 8px, 10px, black);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 0.5rem;
    color: white;
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}

.bg-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.5rem;
    height: 300px; /* Adjust the height to make the shadow larger or smaller */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent); /* Creates the shadow effect */
}

.bg-img h2 {
    color: white;
    /* Tailwind's text-white */
    font-size: 1.5rem;
    /* Tailwind's text-2xl */
    font-weight: bold;
    /* Tailwind's font-bold */
    z-index: 1;
    margin-bottom: 0.5rem;
    /* Tailwind's mb-2 */
    margin-left: 10px;
    text-shadow: 5px 0 10px black;
}

.bg-img p {
    color: white;
    /* Tailwind's text-white */
    font-size: 1.125rem;
    /* Tailwind's text-lg */
    margin-bottom: 0.25rem;
    /* Tailwind's mb-1 */
    margin-left: 10px;
    z-index: 1;
}

.bg-img strong {
    color: white;
    z-index: 1;
    /* Tailwind's text-white */
    font-weight: 600;
    /* Tailwind's font-semibold */
}
.logo{
    z-index: 1;
    margin-left: 10px;
}
.logo img{
    margin-top: 1rem;
    /* Tailwind's mt-4 */
    width: 55px;
    /* Tailwind's w-16 */
    height: 55px;
    margin-left: 3px;
    border-radius: 50%;
    /* border: 2px solid black; Tailwind's h-16 */
}

.contact-icons ul {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* Tailwind's space-x-4 */
    margin-top: 1rem;
    /* Tailwind's mt-4 */
    padding: 0;
    list-style: none;
    padding-bottom: 10px;
}

.contact-icons li {
    margin: 10px 0;
    z-index: 1;
}

.contact-icons li a {
    border-radius: 50%;
    margin: 2px 5px;
    background-color: #333333;
    color: white;
    /* Tailwind's text-white */
    font-size: 1.25rem;
    /* Tailwind's text-xl */
    padding: 13px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
}


.contact-icons li a i {
    font-size: 25px;
}

.contact-us {
    margin: 20px 0;
    background-color: white;
    padding: 10px 0;
    /* Tailwind's p-8 */
    border-radius: 0.5rem;
    /* Tailwind's rounded-lg */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    /* Tailwind's shadow-lg */
    width: 100%;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    margin: 20px;
    /* Tailwind's mb-4 */
}

.header i {
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 2rem;
    /* Tailwind's text-2xl */
    margin-right: 0.5rem;
    /* Tailwind's mr-2 */
    color: white;
    background: #333333;
}

.header h3 {
    font-size: 1.5rem;
    /* Tailwind's text-xl */
    font-weight: bold;
    /* Tailwind's font-bold */
    color: black;
}

.call-us,
.email,
.address,
.dir-btn {
    margin-bottom: 1rem;
    /* Tailwind's mb-4 */
    margin-left: 20px;
}

.call-us h3,
.email h3,
.address h3 {
    font-size: 1.125rem;
    /* Tailwind's text-lg */
    font-weight: bold;
    /* Tailwind's font-semibold */
    margin: 0;
    color: black;
}

.call-us h5,
.email h5,
.address h5 {
    font-size: 1rem;
    /* Tailwind's text-base */
    margin: 0.25rem 0;
    /* Tailwind's my-1 */
    color: #555;
}

.dir-btn {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    /* Tailwind's mt-4 */
    color: white;
    width: 111.45px;
    background-color: #333333;
    /* Tailwind's bg-blue-800 */
    padding: 0.5rem 1rem;
    /* Tailwind's px-4 py-2 */
    border-radius: 15px;
    /* Tailwind's rounded */
    text-decoration: none;
    cursor: pointer;
}

.dir-btn i {
    margin-right: 0.5rem;
    /* Tailwind's mr-2 */
}

.dir-btn p {
    margin: 0;
    font-size: 1rem;
    /* Tailwind's text-base */
}

/* Container for the social media links */
.social-link {
    background-color: #f5f5f5;
    /* Light grey background */
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px 0;
    width: 100%;
    /* Set a fixed width */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    font-family: Arial, sans-serif;
    /* Use a clean font */
}

/* Heading section */
.social-link .heading {
    text-align: center;
    /* Center the text */
    margin-bottom: 20px;
    /* Add space below the heading */
}

.social-link .heading h2 {
    margin: 0;
    font-size: 18px;
    /* Set the font size */
    color: #333;
    /* Dark text color */
}

.social-link .heading p {
    font-size: 14px;
    /* Set the font size */
    color: #666;
    /* Lighter text color */
    margin: 10px 0 0;
    /* Margin for the paragraph */
}

/* WhatsApp link section */
.social-link .whatsapp {
    display: flex;
    /* Use flexbox for alignment */
    align-items: center;
    /* Vertically center items */
    justify-content: space-between;
    border-radius: 5px;
    /* Rounded corners */
    width: 100%;
    padding: 10px 0px;
    text-decoration: none;
    /* Remove underline from link */
    color: inherit;
    /* Inherit text color */
    /* Smooth hover effect */
}


.social-link .whatsapp img {
    width: 36px;
    /* Set image width */
    height: 36px;
    /* Set image height */
    margin-left: 10px;
    /* Space between image and text */
}

.social-link .whatsapp .title {
    flex-grow: 1;
    /* Make the title take up remaining space */
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.social-link .whatsapp .title h3 {
    margin: 0;
    font-size: 16px;
    /* Set the font size */
    color: #25D366;
    /* WhatsApp green color */
}

.social-link .whatsapp .title p {
    margin: 5px 0 0;
    font-size: 12px;
    /* Set the font size */
    color: #666;
    /* Lighter text color */
}

.social-link .whatsapp i {
    color: #ccc;
    /* Light grey color for icon */
    font-size: 20px;
    /* Set the icon size */
    margin-right: 10px;
}

.icons {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background: white;
    color: #3c3c3c;
    border-radius: 15px;
}

.icons .left {
    display: flex;
    align-items: center;
}

.icons .left .title {
    margin-left: 10px;
}

.icons img {
    width: 36px;
    height: 36px;
    margin-left: 10px;
}



.icons i {
    color: #ccc;
    font-size: 20px;
    margin-right: 10px;
}

/* Container for the smart NFC section */
.smart-nfc {
    background-color: #f5f5f5;
    /* Light grey background */
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px 0;
    width: 100%;
    /* Set a fixed width */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    font-family: Arial, sans-serif;
    /* Use a clean font */
    margin: 20px auto;
    /* Center align and add margin */
}

/* Heading section */
.smart-nfc .smart-nfc-heading {
    text-align: center;
    /* Center the text */
    margin-bottom: 10px;
    /* Add space below the heading */
}

.smart-nfc .smart-nfc-heading h2 {
    margin: 0;
    font-size: 18px;
    /* Set the font size */
    color: #333;
    /* Dark text color */
}

.smart-nfc .smart-nfc-heading p {
    font-size: 14px;
    /* Set the font size */
    color: #666;
    /* Lighter text color */
    margin: 5px 0 0;
    /* Margin for the paragraph */
}

/* Horizontal rule styling */
.smart-nfc hr {
    border: none;
    /* Remove default border */
    border-top: 1px solid #ccc;
    /* Light grey top border */
    margin: 10px 0;
    /* Add space around the HR */
}

/* WhatsApp and Instagram link sections */
.instagram-nfc {
    display: flex;
    /* Use flexbox for alignment */
    align-items: center;
    /* Vertically center items */
    justify-content: space-between;
    width: 100%;
    /* White background */
    border-radius: 5px;
    /* Rounded corners */
    text-decoration: none;
    /* Remove underline from link */
    color: inherit;
    /* Inherit text color */
    margin-bottom: 10px;
    /* Add space between social links */
}

.left {
    display: flex;
    align-items: center;
}

.instagram-nfc img {
    width: 36px;
    /* Set image width */
    height: 36px;
    /* Set image height */
    margin: 10px;
    /* Space between image and text */
}

.instagram-nfc .title {
    flex-grow: 1;
    margin-left: 5px;
    /* Make the title take up remaining space */
}

.instagram-nfc .title h3 {
    margin: 0;
    font-size: 16px;
    /* Set the font size */
    color: #3c3c3c;
    /* Text color */
}

.instagram-nfc .title p {
    margin: 5px 0 0;
    font-size: 12px;
    /* Set the font size */
    color: #666;
    /* Lighter text color */
}

.instagram-nfc i {
    color: #ccc;
    /* Light grey color for icon */
    font-size: 20px;
    /* Set the icon size */
    margin-right: 10px;
}

.our-service {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
    max-width: 100%;
    text-align: center;
}

.our-service h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.our-service p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.services p {
    display: flex;
    align-items: center;
}

.services p::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin: 20px 0;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s;
    user-select: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* for moblie arrow styling */
@media (max-width: 768px) {
    .prev, .next {
        font-size: 30px;  /* Reduce the font size */
        padding: 12px;    /* Adjust padding */
    }

    .prev {
        left: 5px;  /* Reduce the space from the left */
    }

    .next {
        right: 5px;  /* Reduce the space from the right */
    }
}

/* Smaller mobile screens */
@media (max-width: 480px) {
    .prev, .next {
        font-size: 25px;  /* Further reduce the font size */
        padding: 10px;    /* Adjust padding */
    }

    .prev {
        left: 2px;  /* Even closer to the edge */
    }

    .next {
        right: 2px;  /* Even closer to the edge */
    }
}
/* mobile arrow styling end */


.web-links {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    padding: 20px 0px;
    text-align: center;
}

.web-links h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.web-links p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.web-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
    text-decoration: none;
    width: 100%;
}

.web-link img {
    width: 40px;
    height: auto;
    margin: 0px 10px;
}

.web-link div {
    text-align: left;
    flex-grow: 1;
}

.web-link div p {
    margin: 0;
}

.web-link i {
    margin-right: 20px;
    font-size: 24px;
    color: #ccc;
}

.content-about #About {
    padding: 0 40px;
}

.review-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px 0;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

.review-container h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.review-container p {
    font-size: 14px;
    margin-bottom: 20px;
}

.review-container .review-button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
}

/* Inset shadow for the div */
.shadow-div-inset {
    box-shadow: inset 10px 8px 16px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 200px;
    background-color: white;
    border-radius: 8px;
    /* Optional, for rounded corners */
    margin: 30px 0;
}

/* Inset shadow for the img */
.shadow-img-inset {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    /* Optional, for rounded corners */
    /* Maintain aspect ratio */
    width: 100%;
}

/* vcf card button styling */
.save_contact{
    text-decoration: none;
    position: fixed;
    bottom: 20px;  /* Adjust this value as needed */
    right: 20px;   /* Adjust this value as needed */
    background-color: #333;  /* Dark background */
    color: white;  /* White text */
    border:  4px solid #4d4d4d;
    border-top-left-radius: 50px;  /* Rounded corners */
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 2px 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
}

.save_contact .plus-icon {
    background-color: white;
    border:  4px solid #4d4d4d;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 20px;
}
.save_contact span{
    text-align: center;
    margin-left: 8px;
}
/* Hover effect */
.save_contact:hover {
    background-color: #444;
}

